In [ ]:
# IMPORT THE VARIOUS LIBRARIES NEEDED

In [361]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline
import matplotlib
matplotlib.rcParams["figure.figsize"] = (20,10)

In [ ]:
# Read the CSV file needed Train/Test and see the columns

In [362]:
df1 = pd.read_csv('C:/Users/DAVID/Documents/Housing_dataset_train.csv')
df1.head()

,ID,loc,title,bedroom,bathroom,parking_space,price
0,3583,Katsina,Semi-detached duplex,2.0,2.0,1.0,1149999.565
1,2748,Ondo,Apartment,NaN,2.0,4.0,1672416.689
2,9261,Ekiti,NaN,7.0,5.0,NaN,3364799.814
3,2224,Anambra,Detached duplex,5.0,2.0,4.0,2410306.756
4,10300,Kogi,Terrace duplex,NaN,5.0,6.0,2600700.898

In [ ]:
#Get the rows and columns of the Data

In [363]:
df1.shape

(14000, 7)

In [ ]:
#Find the number of houses by Location

In [364]:
df1.groupby('loc')['loc'].agg('count')

loc
Abia           312
Adamawa        341
Akwa Ibom      329
Anambra        363
Bauchi         342
Bayelsa        340
Benue          355
Borno          351
Cross River    349
Delta          325
Ebonyi         346
Edo            302
Ekiti          336
Enugu          324
Gombe          343
Imo            348
Jigawa         337
Kaduna         370
Kano           351
Katsina        345
Kebbi          346
Kogi           321
Kwara          333
Lagos          328
Nasarawa       349
Niger          330
Ogun           345
Ondo           344
Osun           338
Oyo            341
Plateau        338
Rivers         323
Sokoto         326
Taraba         315
Yobe           353
Zamfara        348
Name: loc, dtype: int64

In [ ]:
#Find the number of Houses by title

In [365]:
df1.groupby('title')['title'].agg('count')

title
Apartment               1331
Bungalow                1293
Cottage                  450
Detached duplex         1312
Flat                    1372
Mansion                 1322
Penthouse               1306
Semi-detached duplex    1299
Terrace duplex          1266
Townhouse               1327
Name: title, dtype: int64

In [ ]:
# remove the ID column since it is not essential for the analysis

In [367]:
df2 = df1.drop(['ID'],axis='columns')
df2.head()

,loc,title,bedroom,bathroom,parking_space,price
0,Katsina,Semi-detached duplex,2.0,2.0,1.0,1149999.565
1,Ondo,Apartment,NaN,2.0,4.0,1672416.689
2,Ekiti,NaN,7.0,5.0,NaN,3364799.814
3,Anambra,Detached duplex,5.0,2.0,4.0,2410306.756
4,Kogi,Terrace duplex,NaN,5.0,6.0,2600700.898

In [ ]:
# Find the number of empty values per column

In [368]:
df2.isnull().sum()

loc              1813
title            1722
bedroom          1799
bathroom         1805
parking_space    1811
price               0
dtype: int64

In [ ]:
# Drop the number of empty values per column

In [370]:
df3 = df2.dropna()
df3.isnull().sum()

loc              0
title            0
bedroom          0
bathroom         0
parking_space    0
price            0
dtype: int64

In [ ]:
#Find the number of rows and columns available after dropping the empty values(This is small for train test)

In [371]:
df3.shape

(5689, 6)

In [ ]:
#Drop empty cells on Loc column and title column

In [372]:
df4 = df2.dropna(subset=['loc', 'title'])

In [ ]:
#get the row and columns after dropping empty cells on loc and title columns

In [373]:
df4.shape

(10531, 6)

In [ ]:
# Find the remaining number of empty cells per column

In [374]:
df4.isnull().sum()

loc                 0
title               0
bedroom          1675
bathroom         1672
parking_space    1671
price               0
dtype: int64

In [ ]:
# calculate the mean of bedroom, bathroom and parking space and use to fill the empty cells and view the table

In [375]:
df5 = df4.fillna(df4[['bedroom', 'bathroom', 'parking_space']].mean().round())

In [376]:
df5.head()

,loc,title,bedroom,bathroom,parking_space,price
0,Katsina,Semi-detached duplex,2.0,2.0,1.0,1149999.565
1,Ondo,Apartment,4.0,2.0,4.0,1672416.689
3,Anambra,Detached duplex,5.0,2.0,4.0,2410306.756
4,Kogi,Terrace duplex,4.0,5.0,6.0,2600700.898
5,Borno,Mansion,4.0,1.0,3.0,1341750.867

In [ ]:
#Confirm that there is no more empty cell in each column

In [377]:
df5.isnull().sum()

loc              0
title            0
bedroom          0
bathroom         0
parking_space    0
price            0
dtype: int64

In [ ]:
# Find the rows and rows by columns

In [378]:
df5.shape

(10531, 6)

In [ ]:
#Find the different unique values of bedroom

In [379]:
df5['bedroom'].unique()

array([2., 4., 5., 3., 1., 6., 9., 7., 8.])

In [ ]:
#Find the different unique values of bathroom

In [380]:
df5['bathroom'].unique()

array([2., 5., 1., 4., 3., 7., 6.])

In [ ]:
#Find the different unique value of title

In [381]:
df5['title'].unique()

array(['Semi-detached duplex', 'Apartment', 'Detached duplex',
       'Terrace duplex', 'Mansion', 'Bungalow', 'Penthouse', 'Townhouse',
       'Flat', 'Cottage'], dtype=object)

In [ ]:
#Find the number of unique values for Loc column

In [382]:
 len(df5['loc'].unique())

36

In [ ]:
#Find the number of houses per state in descending order

In [383]:
df5.groupby('loc')['loc'].agg('count').sort_values(ascending=False)

loc
Cross River    317
Imo            311
Anambra        310
Benue          309
Kaduna         309
Zamfara        307
Yobe           307
Borno          306
Plateau        301
Oyo            301
Kano           301
Ondo           300
Ebonyi         298
Ogun           298
Niger          297
Gombe          296
Kebbi          295
Nasarawa       295
Katsina        292
Jigawa         289
Enugu          288
Bauchi         288
Sokoto         287
Osun           286
Ekiti          286
Kwara          285
Adamawa        285
Bayelsa        284
Taraba         281
Kogi           279
Rivers         278
Delta          277
Abia           276
Lagos          274
Akwa Ibom      273
Edo            265
Name: loc, dtype: int64

In [ ]:
#Find the details of the prices(minumum value, maximum value etc)

In [384]:
 df5.price.describe()

count    1.053100e+04
mean     2.127767e+06
std      1.069676e+06
min      4.319673e+05
25%      1.391271e+06
50%      1.888006e+06
75%      2.571146e+06
max      1.656849e+07
Name: price, dtype: float64

In [ ]:
#Check for houses where number of bathroom is greater than number of bedroom + 2

In [77]:
df5[df5.bathroom > df5.bedroom+2]

,loc,title,bedroom,bathroom,parking_space,price
20,Kaduna,Flat,4.0,7.0,2.0,1790256.208
33,Osun,Semi-detached duplex,3.0,7.0,3.0,1751635.699
43,Delta,Mansion,3.0,6.0,1.0,4223442.423
50,Bauchi,Mansion,4.0,7.0,2.0,3822595.558
63,Kano,Mansion,1.0,6.0,3.0,2687046.276
...,...,...,...,...,...,...
13966,Jigawa,Terrace duplex,4.0,7.0,6.0,1298995.338
13979,Ekiti,Semi-detached duplex,1.0,6.0,1.0,1256767.641
13989,Kebbi,Terrace duplex,4.0,7.0,2.0,1581061.171
13995,Edo,Bungalow,4.0,7.0,3.0,2367927.861
13996,Kaduna,Apartment,4.0,7.0,5.0,2228516.471

In [ ]:
# Create data where Number of bathroom is less than or equal to number of bedroom +1

In [385]:
df6 = df5[df5.bathroom <= df5.bedroom+1]
df6.shape

(8860, 6)

In [ ]:
# Calculate total amount generated per state 
#This will be used to convert loc column to numeric value

In [386]:
dfsum_by_loc = df6.groupby('loc')['price'].agg('sum').sort_values(ascending=False)
print(dfsum_by_loc)

loc
Lagos          9.983502e+08
Bayelsa        7.578156e+08
Rivers         7.054631e+08
Cross River    6.992054e+08
Ogun           6.756721e+08
Akwa Ibom      6.403104e+08
Delta          6.327203e+08
Anambra        6.245961e+08
Oyo            5.968043e+08
Ondo           5.857056e+08
Enugu          5.624396e+08
Kano           5.376484e+08
Ekiti          5.332127e+08
Osun           5.322045e+08
Edo            5.253591e+08
Imo            5.251792e+08
Nasarawa       5.138131e+08
Katsina        5.034000e+08
Benue          5.029092e+08
Plateau        5.017515e+08
Kaduna         4.925409e+08
Niger          4.854118e+08
Adamawa        4.726390e+08
Kwara          4.665585e+08
Taraba         4.586960e+08
Gombe          4.563230e+08
Yobe           4.518517e+08
Borno          4.494776e+08
Zamfara        4.450072e+08
Kogi           4.289822e+08
Ebonyi         4.273840e+08
Bauchi         4.270863e+08
Kebbi          4.258760e+08
Jigawa         4.134555e+08
Sokoto         4.070797e+08
Abia           3.998397e+08
Name: price, dtype: float64

In [387]:
df6.shape

(8860, 6)

In [ ]:
# use dummies to convert the title column to numeric value
# The title for the present reference row will be 1 while the others will be 0 at every instance

In [388]:
dummies1 = pd.get_dummies(df6.title)
dummies1.head(3)

,Apartment,Bungalow,Cottage,Detached duplex,Flat,Mansion,Penthouse,Semi-detached duplex,Terrace duplex,Townhouse
0,0,0,0,0,0,0,0,1,0,0
1,1,0,0,0,0,0,0,0,0,0
3,0,0,0,1,0,0,0,0,0,0

In [ ]:
# Join the dummies with the df6

In [415]:
df7 = pd.concat([df6,dummies1],axis='columns')
df7.head(3)

,loc,title,bedroom,bathroom,parking_space,price,Apartment,Bungalow,Cottage,Detached duplex,Flat,Mansion,Penthouse,Semi-detached duplex,Terrace duplex,Townhouse
0,Katsina,Semi-detached duplex,2.0,2.0,1.0,1149999.565,0,0,0,0,0,0,0,1,0,0
1,Ondo,Apartment,4.0,2.0,4.0,1672416.689,1,0,0,0,0,0,0,0,0,0
3,Anambra,Detached duplex,5.0,2.0,4.0,2410306.756,0,0,0,1,0,0,0,0,0,0

In [ ]:
# Create a map for each loc value based on the ratio of value generated per state

In [416]:
loc_map ={
    'Lagos' : 3, 'Bayelsa' : 2.5, 'Rivers' : 1.5, 'Cross River' : 1, 'Ogun' : 1,  'Akwa Ibom' : 1, 'Delta' : 1, 'Oyo' : 1, 'Anambra': 1,
    'Ondo': 0.5, 'Enugu': 0.5, 'Imo' : 0.5, 'Kano' : 0.5,  'Osun' :0.5, 'Nasarawa' : 0.5, 'Benue' : 0.5, 'Edo' : 0.5 , 'Katsina' : 0.5, 'Plateau' : 0.5, 'Kaduna' : 0.5,
    'Niger' : 0.5, 'Ekiti' : 0.5, 'Kwara': 0.3, 'Gombe' : 0.3, 'Zamfara' : 0.3, 'Taraba' : 0.3, 'Adamawa' : 0.3, 'Yobe' : 0.2, 'Jigawa' : 0.2, 
    'Bauchi' : 0.2, 'Borno' : 0.2, 'Ebonyi' : 0.2, 'Sokoto'    : 0.2, 'Abia' : 0.1, 'Kebbi' : 0.1, 'Kogi' :0.1
}
loc_data = df7['loc'].map(loc_map)
print(loc_data)

0        0.5
1        0.5
3        1.0
4        0.1
5        0.2
        ...
13987    0.5
13990    0.1
13992    1.0
13994    0.3
13997    0.5
Name: loc, Length: 8860, dtype: float64

In [ ]:
# Replace the loc column with the eqivalent value generated

In [417]:
df7 = df6.copy()
df7['loc'] = loc_data
print(df7)

       loc                 title  bedroom  bathroom  parking_space  \
0      0.5  Semi-detached duplex      2.0       2.0            1.0
1      0.5             Apartment      4.0       2.0            4.0
3      1.0       Detached duplex      5.0       2.0            4.0
4      0.1        Terrace duplex      4.0       5.0            6.0
5      0.2               Mansion      4.0       1.0            3.0
...    ...                   ...      ...       ...            ...
13987  0.5                  Flat      4.0       1.0            1.0
13990  0.1             Penthouse      8.0       7.0            3.0
13992  1.0               Cottage      1.0       2.0            2.0
13994  0.3       Detached duplex      8.0       1.0            6.0
13997  0.5              Bungalow      8.0       6.0            5.0

             price
0      1149999.565
1      1672416.689
3      2410306.756
4      2600700.898
5      1341750.867
...            ...
13987  1485856.252
13990  3086400.032
13992  1508351.845
13994  2837199.086
13997  2406812.693

[8860 rows x 6 columns]

In [ ]:
#Combine the the df7 with the dummies1 data

In [418]:
df8= pd.concat([df7, dummies1], axis='columns')
df8.head(3)

,loc,title,bedroom,bathroom,parking_space,price,Apartment,Bungalow,Cottage,Detached duplex,Flat,Mansion,Penthouse,Semi-detached duplex,Terrace duplex,Townhouse
0,0.5,Semi-detached duplex,2.0,2.0,1.0,1149999.565,0,0,0,0,0,0,0,1,0,0
1,0.5,Apartment,4.0,2.0,4.0,1672416.689,1,0,0,0,0,0,0,0,0,0
3,1.0,Detached duplex,5.0,2.0,4.0,2410306.756,0,0,0,1,0,0,0,0,0,0

In [ ]:
#Check the row by column of the df8 after combining df7 and dummies

In [419]:
df8.shape

(8860, 16)

In [ ]:
#Drop the title column

In [420]:
df9 = df8.drop('title', axis='columns')
df9.head(2)

,loc,bedroom,bathroom,parking_space,price,Apartment,Bungalow,Cottage,Detached duplex,Flat,Mansion,Penthouse,Semi-detached duplex,Terrace duplex,Townhouse
0,0.5,2.0,2.0,1.0,1149999.565,0,0,0,0,0,0,0,1,0,0
1,0.5,4.0,2.0,4.0,1672416.689,1,0,0,0,0,0,0,0,0,0

In [ ]:
#Check the rows and columns of df9

In [421]:
df9.shape

(8860, 15)

In [ ]:
# Drop the dependent variable inorder to trains and test the independent variables

In [422]:
X = df9.drop(['price'],axis='columns')
X.head(3)

,loc,bedroom,bathroom,parking_space,Apartment,Bungalow,Cottage,Detached duplex,Flat,Mansion,Penthouse,Semi-detached duplex,Terrace duplex,Townhouse
0,0.5,2.0,2.0,1.0,0,0,0,0,0,0,0,1,0,0
1,0.5,4.0,2.0,4.0,1,0,0,0,0,0,0,0,0,0
3,1.0,5.0,2.0,4.0,0,0,0,1,0,0,0,0,0,0

In [ ]:
# Seperate the dependent variables in order to train and test

In [423]:
Y = df9.price
Y.head()

0    1149999.565
1    1672416.689
3    2410306.756
4    2600700.898
5    1341750.867
Name: price, dtype: float64

In [ ]:
#Import the sklearn Model_selection

In [424]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X,Y,test_size=0.2,random_state=10)

In [ ]:
# Import Linear Regression for evaluation

In [425]:
from sklearn.linear_model import LinearRegression
lr_clf = LinearRegression()
lr_clf.fit(X,Y)
lr_clf.score(X_test, Y_test)

0.8040873856526284

In [ ]:
# Import shufflesplit and crossvalidation

In [426]:
from sklearn.model_selection import ShuffleSplit
from sklearn.model_selection import cross_val_score

cv = ShuffleSplit(n_splits=5, test_size=0.2, random_state=0)

cross_val_score(LinearRegression(), X, Y, cv=cv)

array([0.78494142, 0.80329884, 0.73267765, 0.75145249, 0.76028752])

In [ ]:
#Create a function to be able to implement the loc numerical values

In [510]:
def predict_loc(loc): 
    if (loc =='Lagos'): 
        return float(3) 
    elif (loc == 'Bayelsa'): 
        return float(2.5)
    elif (loc == 'Rivers'): 
        return float(1.5)
    elif (loc =='Cross River') | (loc =='Ogun') | (loc =='Akwa Ibom') | (loc =='Delta') | (loc =='Oyo') | (loc =='Anambra'):
        return float(1.0)
    elif (loc =='Ondo') | (loc =='Enugu') | (loc =='Imo') | (loc =='Kano') | (loc =='Osun') | (loc =='Nasarawa') | (loc =='Benue') | (loc =='Edo') | (loc =='Katsina') | (loc =='Plateau') | (loc =='Kaduna') | (loc =='Niger') | (loc =='Ekiti'):
        return float(0.5)
    elif (loc =='Kwara') | (loc =='Gombe') | (loc =='Zamfara') | (loc =='Taraba') | (loc =='Adamawa'):
        return float(0.3)
    elif (loc =='Yobe') | (loc =='Jigawa') | (loc =='Bauchi') | (loc =='Borno') | (loc =='Ebonyi') | (loc =='Sokoto'):
        return float(0.2)
    else:
        return float(0.1)

In [ ]:
# test and confirm the funtion is correct

In [515]:
predict_loc('Jigawa')

0.2

In [ ]:
#create a function to test the model

In [536]:
def predict_price(title,predict_loc,bedroom,bathroom,parking_space): 
    title_index = np.where(X.columns==title)[0][0]

    x = np.zeros(len(X.columns))
    x[0] = predict_loc
    x[1] = bedroom
    x[2] = bathroom
    x[3] = parking_space
    if title_index >= 0:
        x[title_index] = 1

    return lr_clf.predict([x])[0]

In [ ]:
#Test the Model

In [520]:
predict_price('Penthouse', predict_loc('Kano'), 4, 1, 2)

C:\Users\DAVID\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

2325790.3905063607

In [521]:
predict_price('Apartment', predict_loc('Adamawa'), 2, 2, 4)

C:\Users\DAVID\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

791212.2139379717

In [522]:
predict_price('Mansion', predict_loc('Benue'), 9, 4, 3)

C:\Users\DAVID\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

4700911.858166555

In [527]:
import pickle
with open('Housing_prices_model.pickle','wb') as f:
    pickle.dump(lr_clf,f)

In [550]:
import json
columns = {
    'data_columns' : [col.lower() for col in X.columns]
}
with open("columns.json","w") as f:
    f.write(json.dumps(columns))